<div class="schedule-card <%= schedule_card["LINE"].downcase %>">
  <div class="arriving-at-container">
    <div class="arriving-at">
      <span class="secondary-info">
        <%= "Next #{schedule_card["LINE"].downcase} line train arriving at" %>
      </span>
      <span class="arrow">
        <%= schedule_card["DIRECTION"] %>
        <%= image_tag("arrow-up.svg", class: "arrow #{schedule_card["DIRECTION"]}") %>
      </span>
    </div>
    <span class="station-name">
      <%= schedule_card["STATION"].split(" STATION").first.titleize %>
    </span>
  </div>
  <div>
    <span class="secondary-info">Bound for</span>
    <br>
    <span class="station-name"><%= schedule_card["DESTINATION"] %></span>
  </div>
  <div class="bottom-container">
    <span class="time-info">
      <%= "#{schedule_card["WAITING_TIME"] == "Arriving" ? "now" : "in #{schedule_card["WAITING_TIME"]} at #{schedule_card["NEXT_ARR"]}"}" %>
    </span>
    <span class="train-id" title="This is the train ID - number that appears on the front of the train!">
      <%= schedule_card["TRAIN_ID"] %>
    </span>
  </div>
</div>
