<div data-controller="rail">
  <div class="dropdown-container">
    <div class="dropdown-container-item">
      <label for="stations">Next train arriving at</label>
      <select name="stations" id="stations" data-rail-target="station" data-action="rail#selectStation">
        <% @arriving_at_stations.each do |station| %>
          <option value="<%= station %>"><%= station %></option>
        <% end %>
      </select>
    </div>
    <div class="dropdown-container-item">
    <label for="destinations">headed towards</label>
      <select name="destinations" id="destinations" data-rail-target="destination" data-action="rail#selectDestination">
        <% @destinations.each do |destination| %>
          <option value="<%= destination %>"><%= destination %></option>
        <% end %>
      </select>
    </div>
    <div class="dropdown-container-item">
    <label for="lines">on the</label>
      <select name="lines" id="lines" data-rail-target="line" data-action="rail#selectLine">
        <% @lines.each do |line| %>
          <option value="<%= line %>"><%= "#{line} line" %></option>
        <% end %>
      </select>
    </div>
    <div class="dropdown-container-item">
      <%=@waiting_seconds %>
    </div>
  </div>
  <div class="schedule-container" id="schedule-container">
    <% if @rail_data.any? %>
      <%= render partial: "schedule_card", collection: @rail_data %>
    <% else %>
      <p>Sorry, no trains available!</p>  
    <% end %>
  </div>
</div>
